﻿{extend name="layout/mainlayout" /}
{block name="inner"}
  <div id="page-inner">

        <form action="{:url('user/vending/saveVendor')}" method="post" />
                <div class="row">
                    <div class="col-md-12">
                        <h2>添加售卖机</h2>
                    </div>
                </div>
                <!-- /. ROW  -->

                <!-- /. ROW  -->
                <hr>
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <div class="form-group">
                            <label>售卖机名称</label>
                            <input class="form-control" name="name" value=""/>
                            <p class="help-block" style="display: none;">Help text here.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <div class="form-group">
                            <label>售卖机地址</label>
                            <input class="form-control" name="adress" value=""/>
                            <p class="help-block" style="display: none;">Help text here.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <input type="submit" value="提交" class="btn btn-danger btn-lg btn-block" />
                        <!-- <a href="blank.html" target="_blank" class="btn btn-danger btn-lg btn-block">提交</a> -->
                    </div>
                </div>              
 
                <!-- /. ROW  -->
        </form>

        </div>

      
{/block}