﻿{extend name="layout/mainlayout" /}
{block name="inner"}
  <div id="page-inner">

        <form action="{:url('user/vending/saveVendor')}" method="post" />
            <input type="hidden" name="uid" value="{$info.uid}"/>
                <div class="row">
                    <div class="col-md-12">
                        <h2>售卖机</h2>
                    </div>
                </div>
                <!-- /. ROW  -->

                <!-- /. ROW  -->
                <hr>
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <div class="form-group">
                            <label>售卖机名称</label>
                            <input class="form-control" name="name" value="{$info.name}"/>
                            <p class="help-block" style="display: none;">Help text here.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <div class="form-group">
                            <label>售卖机地址</label>
                            <input class="form-control" name="address" value="{$info.address}"/>
                            <p class="help-block" style="display: none;">Help text here.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <div class="form-group">
                            <label>售卖机uuid</label>
                            <input class="form-control" name="uuid" value="{$info.uuid}"/>
                            <p class="help-block" style="display: none;">Help text here.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-md-4">
                      <input type="submit" value="提交" class="btn btn-danger btn-lg btn-block btn-margin-top" /> 

                        {if condition="! empty($info)"}
                        <a href="javascript:removeinfo('{$info.uid}');">
                        <span class="btn btn-danger btn-lg btn-block btn-margin-top">删除</span>
                        </a>
                        {/if}
 

                        <a href="{:url('user/goods/index')}?vendor_uid={$info.uid}">

                        <span class="btn btn-danger btn-lg btn-block btn-margin-top">查看商品</span>
                        </a>
                    </div>
                </div>

        </form>

        </div>

<script type="text/javascript">
//删除分类
function removeinfo(id){
    layer.confirm('您确定要删除吗？',{
        btn:['确定','取消']
    },function(){            
        $.getJSON("{:url('user/Vending/delVendor')}",{'uid':id},function(data){
           if(data.status==0){
               layer.alert("success", {
                closeBtn:0
               }, function(){
                window.location.href="{:url('user/Vending/index')}";
               });
           }else{
               layer.alert("fail", {
                closeBtn:0
               }, function(){
                window.location.href="{:url('user/Vending/index')}";
               });
           }
        });
    },function(){}
    );
}
</script>
{/block}