﻿{extend name="layout/mainlayout" /}
{block name="inner"}
           <div id="page-inner">
                <div class="row">
                    <div class="col-lg-12">
                     <h2>商品列表：</h2>   
                    </div>
                </div>
              <hr /> 
		        {volist name="datalist" id="vo"}
                <tr id="id_{$vo.art_id}">
                    <td>{$vo.auto_id}</td>
                    <td>{$vo.item_type}</td>
                </tr>
                {/volist} 
            </div>
{/block}