﻿{extend name="layout/mainlayout" /}
{block name="add1"} <li> {/block}
{block name="add2"} <li class="active-link"> {/block}
{block name="inner"}
           <div id="page-inner">
                <div class="row">
                    <div class="col-lg-12">
                     <h2>广告种类修改：</h2>   
                    </div>
                </div>              
                 <!-- /. ROW  -->
                  <hr />
                <div class="row">
                    <!-- markmark 这里可以拿来发出警告信息 -->
                    {if false} 
                      <div class="col-lg-12 ">
                          <div class="alert alert-info">
                               <strong>Welcome Jhon Doe ! </strong> You Have No pending Task For Today.
                          </div>
                         
                      </div>
                    {/if}
                    </div>

                    <!-- todo markmark这里开始遍历这个商户的所有售卖机，并且显示。  -->

                    <!-- todo markmark 显示完售卖机，显示一个加号，用来进去添加界面。-->


                  <!-- /. ROW  --> 
                  <div class="row text-center pad-top">
				  
      				  {volist name='addlist' id='item'}
                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                      <div class="div-square">
                           <a href="{:url('user/vending/editImgType')}?img_type_uid={$item.uid}" >

                       <img class="img_item_type" src="{$item.img}"  />
                        <h4>{$item.name}</h4>
                          </a>
                      </div>
					 <a href="javascript:removeinfo({$item.auto_id});" ><!--todo markmark 这里连接到新的controller-->
                    <span class="icon icon-bin"> </span>删除</a>
                  </div> 
                {/volist}
				  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                      <div class="div-square">
                          <a href="{:url('user/vending/editImgType')}" ><!--todo markmark 这里连接到新的controller-->
 <i class="fa fa-plus fa-5x"></i>
                      <h4>增加广告图片</h4>
                      </a>
                      </div>
                  </div> 
              </div>
    </div>
<script type="text/javascript">
//删除分类
function removeinfo(id){
    layer.confirm('您确定要删除这条信息吗？',{
        btn:['确定','取消']
    },function(){            
        $.getJSON("{:url('user/Vending/removeinfo')}",{'auto_id':id},function(data){
        	//console.log(data.status);
           if(data.status==0){
               layer.msg(data.msg,{icon:1});
               $("#id_"+id).empty();
			   location.reload();
           }else{
               layer.msg(data.msg,{icon:2});
			   location.reload();
           }
        });
    },function(){}
    );
}
</script>			
    {/block}