{extend name="layout/mainlayout2" /}
{block name="inner"}
<div class="row m-bottom-md">
	<div class="col-sm-6 text-left text-left-sm">
		<div class="btn-group">

		</div>
		<a href="{:url('user/vending/editVendor')}" class="btn btn-danger">添加</a>
	</div><!-- ./col -->
</div><!-- .row -->


<table class="table table-striped" id="dataTable">
	<thead>
		<tr>
			<th>售卖机名称</th>
			<th>售卖机地址</th>
			<th>售卖机uuid</th>
			<th>编辑</th>
		</tr>
	</thead>
	<tbody>
      {volist name='list' id='item'}
		<tr>
			<td>{$item.name}</td>
			<td>{$item.address}</td>
			<td>{$item.uuid}</td>
			<td><a href="{:url('user/vending/editVendor')}?vendor_uid={$item.uid}" ><span class="label label-danger">编辑</span></a></td>
		</tr>
      {/volist}	
	</tbody>
</table>

<div class="pagination-row clearfix m-bottom-md">
	<div class="pull-left pull-left-sm">
		<div class="inline-block vertical-middle m-right-xs">Page 1 of 8 (TODO)</div>
		<ul class="pagination vertical-middle">
			<li class="disabled"><a href="#"><i class="fa fa-step-backward"></i></a></li>
			<li class="disabled"><a href="#"><i class="fa fa-caret-left large"></i></a></li>
			<li><a href="#"><i class="fa fa-caret-right large"></i></a></li>
			<li><a href="#"><i class="fa fa-step-forward"></i></a></li>
		</ul>
	</div>
</div><!-- ./pagination-row -->
{/block}