﻿{extend name="layout/mainlayout" /}
{block name="add1"} <li> {/block}
{block name="add3"} <li class="active-link"> {/block}
{block name="inner"}

<link rel="stylesheet" type="text/css" href="/public/staticcss/selectFilter.css" />


  <div id="page-inner">
                <div class="row">
                    <div class="col-lg-12">
                     <h2>统计表格：</h2>   
                    </div>
                </div>              
                 <!-- /. ROW  -->
                  <hr />

				  
				  	<!-- 这里开始 -->
	
	<div class="filter-box">
		<div class="filter-text">
			<input class="filter-title" type="text" readonly placeholder="请选择售卖机名字" />
			<i class="icon icon-filter-arrow"></i>
		</div>
		<select id="pid" onchange="gradeChange()">
            {volist name='addlist' id='item'}
	        <option grade="{$item.auto_id}" value="{$item.uid}">{$item.name}</option>				
	        {/volist}
		</select>
<!--<a href="{:url('user/vending/trans')}?vendor_uid={$item.uid}"> 确认更改 </a>	-->	
<input type="button"  value="确认更改" onclick="send()"/>		
		
		<script type="text/JavaScript">
       function gradeChange(){
        var objS = document.getElementById("pid");
        var grade = objS.options[objS.selectedIndex].grade;
        var index = objS.selectedIndex;
		var vendor_uid0 = objS.options[index].value;
		//alert(vendor_uid0);
        //$("#hh").attr("value",vendor_uid0);		
       }
        </script>
		
<!--   <input id="hh" type="text" value=""/> -->

<hr>
<div class="col-lg-12 col-sm-offset-1" >
{volist name='addlist3' id='addlist3'}
<h3>售卖机名称：{$addlist3.name}</h3>   
</div>
{/volist} 
<script language="javascript">
function send(){
         var objS = document.getElementById("pid");
         var grade = objS.options[objS.selectedIndex].grade;
         var index = objS.selectedIndex;
		 var vendor_uid0 = objS.options[index].value;
         document.location="{:url('user/vending/trans')}?vendor_uid="+vendor_uid0;
}
</script>
		
	</div>
	
	<!-- 这里结束 -->
<link rel="stylesheet" type="text/css" href="__CSS__/htmleaf-demo.css">

	<div class="htmleaf-container">
		<div class="container">
		    <div class="row">
		      <div class="col-sm-8 col-sm-offset-1">
 
              <table class="table table-bordered">
              <thead class="tbhead">
                <tr>
                  <td width="20%">商品名称</td>
                  <td width="10%">商品卖出数量</td>
				  <td width="7%">商品单价</td>
                  <td width="20%">商品卖出的价钱总额</td>
                  <td width="8%">日期</td>
                  <td width="7%">待定</td>
                  <td width="10%">待定</td>
                 </tr>
               </thead>
               <tbody>
        
        <tr> 
{volist name='list' id='list'}		
                  <td width="20%">{$list.name}</td>
                  <td width="10%"></td>
				  <td width="7%">{$list.price}</td>
                  <td width="5%"></td>
                  <td width="8%"></td>
                  <td width="7%"></td>
                  <td width="10%"></td>
         </tr>
 {/volist}        

        
             </tbody>
            </table>
		      </div>
		  </div>
		</div>
</div>			
        <br/>
</div>
				  
      <hr />
	  			  {volist name='addlist1' id='item1'}
				  <h4>{$item1.name}</h4>
      <hr />				  
				  {/volist}
	  			  {volist name='addlist2' id='item2'}
				  <h4>{$item2.slot}</h4>
				  
				  {/volist}	  



<div style="text-align:center;clear:both">
<script src="/public/static/gg_bd_ad_720x90.js" type="text/javascript"></script>
<script src="/public/static/follow.js" type="text/javascript"></script>
</div>
<div class="item">
	

	
</div>

<!--
	
	select   --  name 可以接收选择的值【用于表单提交  名称自定义】
	
	option   --  1.  value    传给后台的参数
				 1.  selected 设置默认选中
				 2.  disabled 设置禁止选则

-->

<script type="text/javascript" src="/public/staticjs/jquery.min.js"></script>
<script type="text/javascript" src="/public/staticjs/selectFilter.js"></script>
<script type="text/javascript">
	//本小插件支持移动端哦
	
	//这里是初始化
	$('.filter-box').selectFilter({
		callBack : function (val){
			//返回选择的值
			console.log(val+'-是返回的值')
		}
	});
</script>

<script>window.jQuery || document.write('<script src="__JS__/jquery-1.11.0.min.js"><\/script>')</script>
<script type="text/javascript" src="__JS__/paginathing.js"></script>
<script type="text/javascript">
	  jQuery(document).ready(function($){
	    for (var i = 1; i <= 150; i++) {
	      $('.list-group').append('<li class="list-group-item"> Item ' + i + '</li>');
	    }

	    $('.list-group').paginathing({
	      perPage: 5,
	      limitPagination: 9,
	      containerClass: 'panel-footer',
	      pageNumbers: true
	    })

	    $('.table tbody').paginathing({
	      perPage: 8,
	      insertAfter: '.table',
	      pageNumbers: true
	    });
	  });
</script>

  
{/block}