﻿{extend name="layout/mainlayout2" /}
{block name="inner"}
<div class="row m-bottom-md">
  <div class="col-sm-6 text-left text-left-sm">
    <div class="btn-group">

    </div>
    <a href="{:url('user/goods/index')}?vendor_uid={$vendorUid}" class="btn btn-danger">返回商品列表</a>
  </div><!-- ./col -->
</div><!-- .row -->

                    <h2 class="header-text">
                       商品
                       <span class="sub-header">                       
                            修改列表                     
                        </span>                      
                    </h2>
                    <div class="smart-widget m-top-lg widget-dark-blue">
                        <div class="smart-widget-header">
                           <label>当前售卖机：vendor uid = {$vendorUid}</label>
                            <span class="smart-widget-option">
                                <span class="refresh-icon-animated">
                                    <i class="fa fa-circle-o-notch fa-spin"></i>
                                </span>
                                <a href="#" class="widget-toggle-hidden-option">
                                    <i class="fa fa-cog"></i>
                                </a>
                                <a href="#" class="widget-collapse-option" data-toggle="collapse">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a href="#" class="widget-refresh-option">
                                    <i class="fa fa-refresh"></i>
                                </a>
                                <a href="#" class="widget-remove-option">
                                    <i class="fa fa-times"></i>
                                </a>
                            </span>
                        </div>
                        <div class="smart-widget-inner">
                            <div class="smart-widget-hidden-section">
                                <ul class="widget-color-list clearfix">
                                    <li style="background-color:#20232b;" data-color="widget-dark"></li>
                                    <li style="background-color:#4c5f70;" data-color="widget-dark-blue"></li>
                                    <li style="background-color:#23b7e5;" data-color="widget-blue"></li>
                                    <li style="background-color:#2baab1;" data-color="widget-green"></li>
                                    <li style="background-color:#edbc6c;" data-color="widget-yellow"></li>
                                    <li style="background-color:#fbc852;" data-color="widget-orange"></li>
                                    <li style="background-color:#e36159;" data-color="widget-red"></li>
                                    <li style="background-color:#7266ba;" data-color="widget-purple"></li>
                                    <li style="background-color:#f5f5f5;" data-color="widget-light-grey"></li>
                                    <li style="background-color:#fff;" data-color="reset"></li>
                                </ul>
                            </div>
                            <div class="smart-widget-body">
                                <form action="{:url('user/goods/saveInfo_ex')}" method="post">
                                <input type="hidden" name="vendor_uid" value="{$vendorUid}"/>
                                <input type="hidden" name="uid" value="{$uid}"/>
                                   <div class="form-group">
                                    <label for="exampleInputEmail1">商品类型</label>
                            <select name="item_type_uid">
                            {volist name='list' id='item'}
                                <option value="{$item.uid}" {if condition="$info.item_type_uid eq  $item.uid"}selected="selected"{/if}>{$item.name}</option>                                
                            {/volist}
                            </select>
                                   </div>                                
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">插槽</label>
                                        <input class="form-control" name="slot" value="{$info.slot}">
                                    </div><!-- /form-group -->
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">价格</label>
                                        <input class="form-control" name="price" value="{$info.price}"/>
                                    </div><!-- /form-group -->                                 
                                    <div class="form-group">
                                    </div><!-- /form-group -->
                                    <button type="submit" value="提交" class="btn btn-success btn-sm" >提交</button>
                                                                      
                                </form>
                            </div>
                        </div><!-- ./smart-widget-inner -->
                    </div>


  <div id="page-inner">

        <form action="{:url('user/goods/saveInfo_ex')}" method="post" />
            <input type="hidden" name="vendor_uid" value="{$vendorUid}"/>
            <input type="hidden" name="uid" value="{$uid}"/>
                <div class="row">
                    <div class="col-md-12">
                        <h2>商品修改</h2>
                    </div>
                </div>
                <!-- /. ROW  -->

                <!-- /. ROW  -->
                <hr>
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <div class="form-group">
                            <label>售卖机名称：vendor uid = {$vendorUid}</label>
                            </br>

                            <select name="item_type_uid">
                            {volist name='list' id='item'}

                                <option value="{$item.uid}" {if condition="$info.item_type_uid eq  $item.uid"}selected="selected"{/if}>{$item.name}</option>

                            {/volist}
                            </select>

                            <p class="help-block" style="display: none;">Help text here.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <div class="form-group">
                            <label>插槽</label>
                            <input class="form-control" name="slot" value="{$info.slot}"/>
                            <p class="help-block" style="display: none;">Help text here.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <div class="form-group">
                            <label>价格</label>
                            <input class="form-control" name="price" value="{$info.price}"/>
                            <p class="help-block" style="display: none;">Help text here.</p>
                        </div>
                    </div>
                </div>




                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <input type="submit" value="提交" class="btn btn-danger btn-lg btn-block" />
                    </div>
                </div>
				<br>
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                    <a  class="btn btn-danger btn-lg btn-block" href="{:url('user/goods/index')}?vendor_uid={$vendorUid}" ><!--todo markmark 这里连接到新的controller-->
                      返回商品列表</a>
                    </div>
                </div>				

        </form>

        </div>

<script type="text/javascript">
//删除分类
function removeinfo(id){

    layer.confirm('您确定要删除吗？',{
        btn:['确定','取消']
    },function(){            
        // $.getJSON("{:url('user/Vending/delVendor')}",{'uid':id},function(data){
        //    if(data.status==0){
        //        layer.msg(data.msg,{icon:1});
        //    }else{
        //        layer.msg(data.msg,{icon:2});
        //    }
        // });
    },function(){}
    );
}
</script>
{/block}